/*fixed contact button bottom right*/
.contact-btn {
	transition: padding 0.5s ease;
	position: fixed;
	bottom: 30px;
	right: 20px;
	background-color: black;
	color: white;
	border-radius: 25px;
	padding-top: 15px;
	z-index: 1;
}
.contact-btn:hover {
	padding: 40px;
	color: #4FA585;
}
.custom-contact {
	color: white;
}

/*end*/

/*index header image*/
#index-header {
	background: linear-gradient(rgba(155,155,155,0.6),rgba(1,0,0,0.6)),url('../img/home-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*end*/
/*tabs*/
@media screen and (max-width: 1120px) {
	.tab-section{
		display: none;
	}
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background: transparent;
	border-bottom: none;
	color: white;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
	border-bottom: none;
}
.nav-tabs.nav-justified>li>a {
	border-bottom: none;
	border-radius: 15px 30px 0px 0px;
	font-family: 'Work Sans', sans-serif;
	color: white;
	font-size: 30px;
}
.nav-tabs.nav-justified>li.active {
	border-bottom: none;
	background: #4FA585;
}
.nav-tabs.nav-justified>li.active>a {
	border-bottom: none;
}
.nav-tabs>li>a:hover {
	background: transparent;
}
.custom-tab {
	background: #3d3d3d
}
#motor{

}
.motor-tab {
	border-radius: 15px 30px 0px 0px;
}
#home {

}
.home-tab {
	border-radius: 15px 30px 0px 0px;
}
#travel {

}
.travel-tab {
	border-radius: 15px 30px 0px 0px;
}
#commercial {
	
}
.commercial-tab {
	border-radius: 15px 30px 0px 0px;
}
#health {
	
}
.health-tab {
	border-radius: 15px 30px 0px 0px;
}
#life {
	
}
.life-tab {
	border-radius: 15px 30px 0px 0px;
}
.tab-block {
	border-radius: 15px;
	padding: 20px;
	color: white;
}
.tab-pane {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 100px;
	background: #3D3D3D;
	border-top: 30px solid #4FA585;
}
.grid-img > h3 {
	line-height: 200px;
}
.tab-text {
	color: white;
	text-align: center;
}
.grid-img {
	height: 250px;
	border: 2px solid #727272;
}
.grid-img:hover {
	border: 5px solid #4FA585;
}
#car-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/car.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/car.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/car.jpg) no-repeat scroll center;
}
#bike-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/motorbike.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/motorbike.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/motorbike.jpg) no-repeat scroll center;
}
#breakdown-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/breakdown.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/breakdown.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/breakdown.jpg) no-repeat scroll center;
}
#hire-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/car-hire.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/car-hire.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/car-hire.jpg) no-repeat scroll center;
}
#commercial-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/van.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/van.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/van.jpg) no-repeat scroll center;
}
#fleet-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/fleet.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/fleet.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/fleet.jpg) no-repeat scroll center;
}
#home-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/home.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/home.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/home.jpg) no-repeat scroll center;
}
#contents-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/contents.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/contents.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/contents.jpg) no-repeat scroll center;
}
#property-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/commercial.jpg) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/commercial.jpg) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/commercial.jpg) no-repeat scroll center;
}
#portfolio-image {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/portfolio.png) no-repeat scroll center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/portfolio.png) no-repeat scroll center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/portfolio.png) no-repeat scroll center;
}
/*Travel tab styling*/
.travel-header {
	height: 250px;
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/travel-header.png) no-repeat center center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/travel-header.png) no-repeat center center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/travel-header.png) no-repeat center center;
	text-align: center;
}
.travel-button {
	background-color: #4FA585;
	color: #FFFFFF;
	margin: 5px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	height: 100px;
	border-radius: 5px;
}
.travel-button:hover {
	border: 2px solid #FFFFFF;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*Pension Tab styling*/
.pension-header {
	text-align: center;
	min-height: 300px;
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/pension.jpg) no-repeat center center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/pension.jpg) no-repeat center center;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/pension.jpg) no-repeat center center;
}
.pension-text {
	text-align: center;
}
/*health tab styling*/
.health-box {
	transition: background 0.4s ease-in-out;
	background: #727272;
	text-align: center;
	padding: 25px;
	border: 2px solid #FFFFFF
}
.health-box:hover {
	background: #4FA585;
}
.life {
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/family_header.jpg) no-repeat center center;
	background: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/family_header.jpg) no-repeat center center ;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),  url(../img/family_header.jpg) no-repeat center center ;
	background-size: cover;
	padding: 50px;
	text-align: center;
}
.life-form {
	background: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6));
	border-top: 20px solid #4FA585;
}
/*blurb section*/
.blurb {
	background: linear-gradient(rgba(150,150,150,0.8),rgba(1,0,0,0.8)),  url(../img/office.jpg) no-repeat center center fixed ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	text-align: center;
	color: white;
	padding: 100px;
}
.blurb-text {
	font-family: 'Work Sans', sans-serif;
}
/*Map*/
@media screen and (min-width: 850px) {
	.map-container {
		height: 600px;
	}
}
@media screen and (max-width: 849px) {
	.map-container {
		height: 300px;
	}
}